table {
    width: 100%;
    border-collapse: collapse;
    font-family: Helvetica;
}

.header {
    background-color: green;
    color: white;
    text-align: left;
}

.dark {
    background-color: LightBlue;
}

#fav {
    background-color: lightyellow;
    font-style: italic;
}